.customers {
    padding-top: 113px;
  }
  .customers__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    gap: 30px;  
  }
  .customers__link {  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
  
    color: var(--social-color);
    border: 1px solid currentColor;
    border-radius: 4px;
  
    transition: color var(--anim-fast);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  
  .customers__icon {
    fill: currentColor;
  }
  