.team {
    background-color: var(--background-color-button);
    padding-top: 113px;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .member {
    padding: 30px 0;
  }
  .member__title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  .member__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }